# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
build/

# Env (NUNCA al repo)
.env.local
.env.*.local
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel/
